/* Branding */

$black : #000000;
$white: #ffffff;

$l-gray: #adacad;
$gray: #5a5a5a;
$d-gray: #4a4a4a;

$burnt-orange: #c75a24;
$sandy: #f7e4b7;
$l-brown: #decaa2;
$brown: #5e3e2d;

$tealish: #79b599;

/* Social */

$tw-blue: #00aced;
$fb-blue: #3B5998;
$li-blue: #4875B4;
$sp-yellow: #e9b509;