body {
    font-size: 100%;
    font-family: 'Open Sans', Helvetica, sans-serif;
    line-height: 1;
}

p {
    margin: 0 0 1em;
    font-weight: 300;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: $tealish;
    &.active,
    &:hover,
    &:focus {
        outline: 0;
        color: $l-gray;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Limelight', Georgia, cursive;
    font-style: normal;
    font-weight: 100;
    margin: 0;
    small {
        font-size: .5em;
    }
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 3.5em;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2.5em;
}

h5 {
    font-size: 2em;
}

h6 {
    font-size: 1.5em;
}

/* subheader styling */

h2 small {
    @media only screen and (#{$mob}){
        display: block;
    }
}